<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @media print {
            .noPrint {
                display: none;
            }
        }
        @page { size: auto;  margin: 0mm; }

        h1 {
            color: #f6f6;
        }
    </style>
</head>

<body>
    <h1>
        print me
    </h1>

    <button onclick="window.print();" class="noPrint">
        Print Me
    </button>
</body>

</html>