<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @media print {
            .noPrint {
                display: none;
            }
        }
        @page { size: auto;  margin: 0mm; }
    </style>
</head>
<body style=" margin: 0 auto;  width: 900px; height: 1080px;  padding: 0; background-color: rgb(217, 217, 217); z-index:2;">
    
    <div class="container" style=" padding: 20px; background-color:#ffffff; scale: 0.9; margin: 0 auto; width: 870px; height: 1210px;   font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;">

        <div style="border: solid 1px #000000; height:1200px; ">


            <header style="display:block;  padding: 30px;">

                <div style="display:inline-block; text-align: center;"><img src="https://i.ibb.co/q1nrwKn/logo.png" width="90px" height="60px"><h1 style="position:relative; top: 0; left: 0; font-size: 35px; width: 800px; float: right; text-align: center;"><u>STUDENT IDENTIFICATION PORTAL</u></h1></div>
    
                <br>
                <br>
                <br>
    
                <h1 style="position:relative; top: 0; left: 0; font-size: 30px; width: 800px; float: right; text-align: center;">STUDENT EDUCATIONAL REPORT</h1>
           
            </header>

        <main style="padding: 30px;">

            <div>      
            </div>

            <br>
            <br>
            <br>
            <br>

            <div class="heading" style="font-size: 1.5rem; font-weight: bold;"><u>STUDENT DETAILS</u></div>

            <br>

            <div class="content" style="display: flex; justify-content: space-between; width: 800px; flex-direction: row;">

            <div>

                <div style="display: flex; align-items:center; "><p class="mhead">NAME:</p> &nbsp; <p class="mcontent">{{s.name}}</p></div>

                <br>

                <div style="display: flex; align-items:center; "><p class="mhead">PARENT/GUARDIAN NAME:</p> &nbsp; <p class="mcontent">{{s.guardian_name}}</p></div>

                <br>

                <div style="display: flex; align-items:center; "><p class="mhead">DOB:</p> &nbsp; <p class="mcontent">{{s.dob}}</p></div>

                <br>

                <div style="display: flex; align-items:center; "><p class="mhead">GENDER:</p> &nbsp; <p class="mcontent">{{s.gender}}</p></div>
                
            </div>
            <div>

                <div style="display: flex; align-items:center; "><p class="mhead">COMMUNITY:</p> &nbsp; <p class="mcontent">{{s.community}}</p></div>
                
                <br>

                <div style="display: flex; align-items:center; "><p class="mhead">AADHAR:</p> &nbsp; <p class="mcontent">{{s.aadhar}}</p></div>

                <br>

                <div style="display: flex; align-items:center; "><p class="mhead">MOBILE:</p> &nbsp; <p class="mcontent">{{s.mobile}}</p></div>
                
            </div>
        </div>

            <br>
            <br>
            <br>


            <div class="heading" style="font-size: 1.5rem; font-weight: bold;"><u>EDUCATIONAL HISTORY</u></div>

            <br>

            <div>

            <table style="font-family: arial, sans-serif; border-collapse: collapse; border: solid 1px black; width: 95%; float: left; ">
                <tr>
                    <th style="border: 1px solid black; text-align: left; padding: 8px;">DEGREE ID</th>
                  <th style="border: 1px solid black; text-align: left; padding: 8px;">DEGREE NAME</th>
                  <th style="border: 1px solid black; text-align: left; padding: 8px;">INSTITUTION NAME</th>
                  <th style="border: 1px solid black; text-align: left; padding: 8px;">YEAR OF STUDY</th>
                  <th style="border: 1px solid black; text-align: left; padding: 8px;">GRADE</th>
                </tr>
                {% for row in degree_data %}
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">{{row.id}}</td>
                    <td style="border: 1px solid black; padding: 8px;">{{row.name}}</td>
                    <td style="border: 1px solid black; padding: 8px;">{{row.iid_id}}</td>
                    {% if row.year_leave == None %}
                    <td style="border: 1px solid black; padding: 8px;">{{row.year_join}} (Pursuing)</td>
                    {% else %}
                    <td style="border: 1px solid black; padding: 8px;">{{row.year_join}}-{{row.year_leave}}</td>
                    {% endif %}
                    
                    {% if row.year_leave == None %}
                    <td style="border: 1px solid black; padding: 8px;">N/A</td>
                    {% else %}
                    <td style="border: 1px solid black; padding: 8px;">{{row.grade}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                
            </table>

        </div>

        <img src="https://i.ibb.co/q1nrwKn/logo.png" style="width: 400px; height: 350px; position: fixed; top: 400px; right: 260px; opacity: 8%; z-index: 0;">

        </main>

        <div style="width: 300px; height:200px; border: solid 1px black; background-color:rgb(202, 202, 202); position: fixed; bottom:50px; right: 50px; ">
            <h3 style="position:relative; top:0; left:0;">Signature Valid</h3>
            <img src="https://i.ibb.co/j39ZrNy/tick.png" style=" position: fixed; bottom: 90px;  padding-left: 90px; width: 90px; opacity: 50%;">
            <p >Digitally signed by MoE</p>
            <br>
            <p>Date: 26|08|2022</p>
            <p>Place: India</p>


        </div>

        </div>

    </div>
    
        <button style="position: relative; bottom:30px; left: 400px;"  onclick="window.print();" class="noPrint">
            Print
        </button>
    
    

</body>
</html>