{% extends "layout.html" %}

{% block title %}
    Institution
{% endblock title %}


{% block main %}
    
<div class="dashboard-wrapper">

    <p>INSTITUTION DASHBOARD</p>

    <div class="dashboard">

        <div class="dashboard-head">

            <div class="dashboard-head-top">
                


            </div>

            <div class="dashboard-head-bottom">

                

            </div>

        </div>

        <div class="profile-pic">

            <img src="">

        </div>

        <div class="dashboard-nav">

            <p class="dashboard-name">PANIMALAR ENGINEERING COLLEGE</p>
            <p class="dashboard-id">CURRENT NO OF STUDENTS: 2000</p>

            <div class="dashboard-link">
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Create Profile</a></li>
                    <li><a href="#">Search profile</a></li>
                    <li><a class="logout" href="/signout">Logout</a></li>
                </ul>
            </div>

        </div>

        <div class="dashboard-body" id="dashboard-body">

            <div class="profile" id="profile" >

                <h1>PROFILE</h1>

                <div class="details">

                    <div>

                        <p class="label">NAME:</p> <p>PANIMALAR ENGINEERING COLLEGE</p>

                    </div>

                    <div>

                        <p class="label">ID:</p> <P>ABCDEF</p>

                    </div>

                    <div>

                        <p class="label">EMAIL:</p> <p>kmithunraj@mithunraj.com</p>

                    </div>

                </div>

            </div>

            <div class="create-profile" id="create-profile">

                <h1>CREATE PROFILE</h1>

                <div class="profile-form-container">

                    <div class="profile-form">

                        <form action="" method="post">
                            
                            <label for="ins-name">STUDENT NAME:</label>
    
                            <br>
    
                            <input type="text" id="stu-name" name="stu-name" required>
    
                            <br>
                            <br>

                            <label for="ins-name">DOB:</label>
    
                            <br>
    
                            <input type="text" id="dob" name="dob" required>
    
                            <br>
                            <br>

                            <label for="ins-name">FATHER/MOTHER/GAURDIAN NAME:</label>
    
                            <br>
    
                            <input type="text" id="pgname" name="pgname" required>
    
                            <br>
                            <br>

                            <label for="adhaar">ADHAAR NO:</label>
    
                            <br>
    
                            <input type="text" id="adhaar" name="adhaar" required>
    
                            <br>
                            <br>

                            <label>GENDER:</label>

                            <br>

                            <select name="type" id="gender" required>
                                <option value="options">SELECT OPTION</option>
                                <option value="male">MALE</option>
                                <option value="female">FEMALE</option>
                              </select>

                            <br>
                            <br>
    
                            <label for="email">EMAIL:</label>
    
                            <br>
    
                            <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"required>
    
                            <br>
                            <br>

                            <label for="contact">CONTACT NO:</label>
    
                            <br>
    
                            <input type="text" id="contact" name="contact" required>

                            <br>
                            <br>

                            <label for="comment">ADDRESS:</label>

                            <br>

                            <textarea id="comment" name="comment" required></textarea>

                            <br>
                            <br>

                            <label for="city">CITY:</label>
    
                            <br>
    
                            <input type="text" id="city" name="city" required>

                            <br>
                            <br>

                            <label for="state">STATE:</label>
    
                            <br>
    
                            <input type="text" id="state" name="state" required>

                            <br>
                            <br>

                            <label for="pincode">PINCODE:</label>
    
                            <br>
    
                            <input type="text" id="pincode" name="pincode" required>

                            <br>
                            <br>
    
                            <input type="submit" value="SUBMIT">
    
                        </form>
    
                    </div>
    
                </div>

            </div>

            <div class="edit-profile" id="edit-profile" style="display: none;">

                <h1>EDIT PROFILE</h1>

                <div class="details">

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock main %}

