{% extends "layout.html" %}

{% block title %}
    Institution
{% endblock title %}


{% block main %}

{% if messages %}
	<div class="messages_d">
		{% for message in messages %}
			<p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>
		{% endfor %}
	</div>
{% endif %}


<div class="dashboard_spacing">    
    <div class="dashboard-wrapper">

        <p>INSTITUTION DASHBOARD</p>

        <div class="dashboard">

            <div class="dashboard-head">

                <div class="dashboard-head-top">
                    


                </div>

                <div class="dashboard-head-bottom">

                    

                </div>

            </div>

            <div class="profile-pic">

                <img src="">

            </div>

            <div class="dashboard-nav">

                <p class="dashboard-name">{{name}}</p>
                <p class="dashboard-id">CURRENT NO OF STUDENTS: {{student_count}}</p>

                <div class="dashboard-link">
                    <ul>
                        <li><a href="/dashboard/institution">Profile</a></li>
                        <li><a href="#">Create Student</a></li>
                        <li><a href="/dashboard/institution/search">Search Student</a></li>
                        <li><a href="/dashboard/institution/edit">Edit Student</a></li>
                        <li><a href="/dashboard/institution/enroll">Enroll Student</a></li>
                        <li><a href="/dashboard/institution/remove">Remove Student</a></li>
                        <li><a href="/dashboard/institution/addcourse">Add Course</a></li>
                        <li><a href="/dashboard/institution/docreq">Document Requests</a></li>
                        <li><a class="logout" href="/signout">Logout</a></li>
                    </ul>
                </div>

            </div>

            <div class="dashboard-body" id="dashboard-body">

                <div class="create-profile" id="create-profile">

                    <h1>REMOVE STUDENT FROM INSTITUTION</h1>

                        <div class="profile-form-container">

                            <div class="profile-form">
                                <form action="/dashboard/institution/remove" method="post">

                                    {% csrf_token %}

                                    <label for="student-id">STUDENT ID:</label>
            
                                    <br>
            
                                    <input type="text" id="student-id"  name="student-id" required >
            
                                    <br>
                                    <br>

                                    <label for="final-mark">CGPA / TOTAL MARK:</label>
            
                                    <br>
            
                                    <input type="text" id="final-mark"  name="final-mark" required >

                                    <br>
                                    <br>

                                    <label for="year">LEAVING YEAR:</label>

                                    <br>
            
                                    <input type="text" id="year"  name="year"  required >
            
                                    <br>
                                    <br>
                                    
                                    <label for="type">LEAVING TYPE:</label>

                                    <br>
            
                                    <select name="type" id="type" required >
                                        
                                        <option value="Selected" Selected disabled>SELECT</option>
                                        <option value="Completed">COMPLETED</option>
                                        <option value="Drop">TRANSFER</option>
                                      </select>
            
                                    <br>
                                    <br>

                                    <input value="REMOVE" type="submit">
            
                                </form>


                            </div>

                        </div>
                    </div>
            </div>

                        <div class="profile-form-container">

                            <div class="profile-form">

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock main %}

