{% extends "layout.html" %}

{% block title %}
    Institution
{% endblock title %}


{% block main %}

{% if messages %}
	<div class="messages_d">
		{% for message in messages %}
			<p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>
		{% endfor %}
	</div>
{% endif %}

<div class="dashboard_spacing"> 
    <div class="dashboard-wrapper">

        <p>INSTITUTION DASHBOARD</p>

        <div class="dashboard">

            <div class="dashboard-head">

                <div class="dashboard-head-top">
                    


                </div>

                <div class="dashboard-head-bottom">

                    

                </div>

            </div>

            <div class="profile-pic">

                <img src="">

            </div>

            <div class="dashboard-nav">

                <p class="dashboard-name">{{name}}</p>
                <p class="dashboard-id">CURRENT NO OF STUDENTS: 2000</p>

                <div class="dashboard-link">
                    <ul>
                        <li><a href="/dashboard/institution">Profile</a></li>
                        <li><a href="#">Create Student</a></li>
                        <li><a href="/dashboard/institution/search">Search Student</a></li>
                        <li><a href="/dashboard/institution/edit">Edit Student</a></li>
                        <li><a href="/dashboard/institution/enroll">Add Student</a></li>
                        <li><a href="/dashboard/institution/remove">Remove Student</a></li>
                        <li><a href="/dashboard/institution/addcourse">Add Course</a></li>
                        <li><a class="logout" href="/signout">Logout</a></li>
                    </ul>
                </div>

            </div>

            <div class="dashboard-body" id="dashboard-body">

                <div class="profile" id="profile" >

                    <h1>PROFILE</h1>

                    <div class="details">

                        <div>

                            <p class="label">NAME:</p> <p>{{name}}</p>

                        </div>

                        <div>

                            <p class="label">ID:</p> <P>{{username}}</p>

                        </div>

                        <div>

                            <p class="label">EMAIL:</p> <p>{{email}}</p>

                        </div>

                    </div>

                </div>

                <div class="search-profile" id="search-profile">

                    <h1>SEARCH PROFILE</h1>

                    <div class="search-profile-container">

                        <div class="profile-form-container">

                            <div class="profile-form">

                                <form action="/dashboard/institution/search" method="post">
                                    {% csrf_token %}
                                    <label for="stu_id">STUDENT ID:</label>
            
                                    <br>
            
                                    <input type="text" id="stu_id" name="stu_id" required>
            
                                    <br>
                                    <br>

                                    <input type="submit" value="SEARCH">

                                </form>

                            </div>

                        </div>

                        <div class="profile-form-container" id="search-results-container" style="display: show;">

                            <div class="profile-form">

                                <div class="search-result">

                                    <div class="search-res">
                                    <div class="pit"><p>STUDENT NAME:</p><p>{{s.name}}</p></div>
                                    <div class="pit"><p>STUDENT ID:</p><p>{{s.sid}}</p></div>
                                    <div class="pit"><p>DOB:</p><p>{{s.address}}</p></div>
                                    <div class="pit"><p>FATHER/ MOTHER/ GAURDIAN NAME:</p><p>{{s.guardian_name}}</p></div>
                                    <div class="pit"><p>GENDER</p><p>{{s.gender}}</p></div>
                                    <div class="pit"><p>EMAIL</p><p>{{s.email}}</p></div>
                                    <div class="pit"><p>CONTACT NO:</p><p>{{s.mobile}}</p></div>
                                    <div class="pit"><p>ADDRESS:</p><p>{{s.address}}</p></div>
                                    <div class="pit"><p>CITY:</p><p>{{s.city}}</p></div>
                                    <div class="pit"><p>STATE:</p><p>{{s.state}}</p></div>
                                    <div class="pit"><p>PINCODE:</p><p>{{s.pincode}}</p></div>
                                </div>

                                    <br>


                                </div>
                                

                            </div>
                        </div>


                    </div>
                        

                </div>

                

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

{% endblock main %}

