{% extends "layout.html" %}

{% block title %}
    Institution
{% endblock title %}


{% block main %}

{% if messages %}
	<div class="messages_d">
		{% for message in messages %}
			<p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>
		{% endfor %}
	</div>
{% endif %}

<div class="dashboard_spacing"> 
    <div class="dashboard-wrapper">

        <p>INSTITUTION DASHBOARD</p>

        <div class="dashboard">

            <div class="dashboard-head">

                <div class="dashboard-head-top">
                    


                </div>

                <div class="dashboard-head-bottom">

                    

                </div>

            </div>

            <div class="profile-pic">

                <img src="">

            </div>

            <div class="dashboard-nav">

                <p class="dashboard-name">{{name}}</p>
                <p class="dashboard-id">CURRENT NO OF STUDENTS: {{student_count}}</p>

                <div class="dashboard-link">
                    <ul>
                        <li><a href="/dashboard/institution" onclick="profile()">Profile</a></li>
                        <li><a href="#" onclick="createprofile()">Create Student</a></li>
                        <li><a href="/dashboard/institution/search">Search Student</a></li>
                        <li><a href="/dashboard/institution/edit">Edit Student</a></li>
                        <li><a href="/dashboard/institution/enroll">Add Student</a></li>
                        <li><a href="/dashboard/institution/remove">Remove Student</a></li>
                        <li><a href="/dashboard/institution/addcourse">Add Course</a></li>
                        <li><a class="logout" href="/signout">Logout</a></li>
                    </ul>
                </div>

            </div>

            <div class="dashboard-body" id="dashboard-body">

                <div class="profile" id="profile" style="display: None;" >

                    <h1>PROFILE</h1>

                    <div class="details">

                        <div>

                            <p class="label">NAME:</p> <p>{{name}}</p>

                        </div>

                        <div>

                            <p class="label">ID:</p> <P>{{username}}</p>

                        </div>

                        <div>

                            <p class="label">EMAIL:</p> <p>{{email}}</p>

                        </div>

                    </div>

                </div>

                <div class="create-profile" id="create-profile" style="display: None;">

                    <h1>CREATE PROFILE</h1>

                    <div class="profile-form-container">

                        <div class="profile-form">

                            <form action="/dashboard/institution" method="post">
                                {% csrf_token %}
                                
                                <label for="ins-name">STUDENT NAME:</label>
        
                                <br>
        
                                <input type="text" id="stu-name" name="stu-name" required>
        
                                <br>
                                <br>

                                <label for="ins-name">DOB:</label>
        
                                <br>
        
                                <input type="text" id="dob" name="dob" required>
        
                                <br>
                                <br>

                                <label for="ins-name">FATHER/MOTHER/GAURDIAN NAME:</label>
        
                                <br>
        
                                <input type="text" id="guadian" name="guardian" required>
        
                                <br>
                                <br>

                                <label for="adhaar">ADHAAR NO:</label>
        
                                <br>
        
                                <input type="text" id="aadhar" name="aadhar" required>
        
                                <br>
                                <br>

                                <label>GENDER:</label>

                                <br>

                                <select name="gender" id="gender" required>
                                    <option value="options">SELECT OPTION</option>
                                    <option value="Male">MALE</option>
                                    <option value="Female">FEMALE</option>
                                </select>

                                <br>
                                <br>

                                <label>COMMUNITY:</label>

                                <br>

                                <select name="community" id="community" required>
                                    <option value="options">SELECT OPTION</option>
                                    <option value="General">GENERAL</option>
                                    <option value="OBC">OBC</option>
                                    <option value="SC">SC</option>
                                    <option value="ST">ST</option>
                                </select>

                                <br>
                                <br>
        
                                <label for="email">EMAIL:</label>
        
                                <br>
        
                                <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"required>
        
                                <br>
                                <br>

                                <label for="contact">CONTACT NO:</label>
        
                                <br>
        
                                <input type="text" id="contact" name="contact" required>

                                <br>
                                <br>

                                <label for="address">ADDRESS:</label>

                                <br>

                                <textarea id="address" name="address" required></textarea>

                                <br>
                                <br>

                                <label for="city">CITY:</label>
        
                                <br>
        
                                <input type="text" id="city" name="city" required>

                                <br>
                                <br>

                                <label for="state">STATE:</label>
        
                                <br>
        
                                <input type="text" id="state" name="state" required>

                                <br>
                                <br>

                                <label for="pincode">PINCODE:</label>
        
                                <br>
        
                                <input type="text" id="pincode" name="pincode" required>

                                <br>
                                <br>
        
                                <input type="submit" value="SUBMIT">
        
                            </form>
        
                        </div>
        
                    </div>

                </div>

                <div class="edit-profile" id="edit-profile" style="display: none;">

                    <h1>EDIT PROFILE</h1>

                    <div class="details">

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

{% endblock main %}

