{% extends "layout.html" %}

{% block title %}
    Institution
{% endblock title %}


{% block main %}

{% if messages %}
	<div class="messages_d">
		{% for message in messages %}
			<p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>
		{% endfor %}
	</div>
{% endif %}


<div class="dashboard_spacing">    
    <div class="dashboard-wrapper">

        <p>INSTITUTION DASHBOARD</p>

        <div class="dashboard">

            <div class="dashboard-head">

                <div class="dashboard-head-top">
                    


                </div>

                <div class="dashboard-head-bottom">

                    

                </div>

            </div>

            <div class="profile-pic">

                <img src="/media/{{ pp }}">

            </div>

            <div class="dashboard-nav">

                <p class="dashboard-name">{{name}}</p>
                <p class="dashboard-id">CURRENT NO OF STUDENTS: {{student_count}}</p>

                <div class="dashboard-link">
                    <ul>
                        <li><a href="/dashboard/institution">Profile</a></li>
                        <li><a href="#">Create Student</a></li>
                        <li><a href="/dashboard/institution/search">Search Student</a></li>
                        <li><a href="/dashboard/institution/edit">Edit Student</a></li>
                        <li><a href="/dashboard/institution/enroll">Enroll Student</a></li>
                        <li><a href="/dashboard/institution/remove">Remove Student</a></li>
                        <li><a href="/dashboard/institution/addcourse">Add Course</a></li>
                        <li><a href="/dashboard/institution/docreq">Document Requests</a></li>
                        <li><a class="logout" href="/signout">Logout</a></li>
                    </ul>
                </div>

            </div>

            <div class="dashboard-body" id="dashboard-body">

                <div class="create-profile" id="create-profile">

                    <div style="display: flex; float:left; align-items: center; text-align: left; ">

                        <h1>ADD COURSE</h1>
        
                        <div style="padding-left: 100px;">
                            <button onMouseOver="this.style.color='#000000'" onMouseOut="this.style.color='#565a61'"style="cursor:pointer; padding: 8px; border-radius: 10px; border:none; font-size: 1.1rem; background-color: #ffdd00; color: #565a61;"> <a href="/dashboard/institution/addcourse/bulk" style="text-decoration: None; color:#565a61;"> UPLOAD IN BULK</a></button>
                        </div>
        
                    </div>

                        <div class="profile-form-container">

                            <div class="profile-form">
                                <div class="profile-form">

                                    <form action="/dashboard/institution/addcourse" method="post">
                                        
                                        {% csrf_token %}
										
										<label for="search-student">STUDENT ID:</label>
                
                                        <br>
                
                                        <input type="text" id="search-student"  name="search-student" value="{{s.sid}}"  required >
                                        
                                        <br>
                                        <br>
										
										<input type="submit" name="search" {{disabled}} value="SEARCH">

                                        <br>
                                        <br>

                                        <label for="degree-id">DEGREE ID / NAME:</label>
                
                                        <br>
                
                                        <input type="text" id="degree-id" value="{{d.id}} - {{d.name}}" name="degree-id">
                
                                        <br>
                                        <br>
                                    

                                        <label for="course-name">COURSE NAME:</label>
                
                                        <br>
                
                                        <input type="text" id="course-name"  name="course-name"  >
                
                                        <br>
                                        <br>

                                        <label for="total-mark">TOTAL MARK:</label>
                
                                        <br>
                
                                        <input type="text" id="total-mark"  name="total-mark"  >

                                        <br>
                                        <br>

                                        <label for="obtained-mark">OBTAINED MARK:</label>
                
                                        <br>
                
                                        <input type="text" id="obtained-mark"  name="obtained-mark">

                                        <br>
                                        <br>

                                        <label for="credits">CREDITS:</label>
                
                                        <br>
                
                                        <input type="text" id="credits"  name="credits"  >

                                        <br>
                                        <br>

                                        <label for="semester">SEMESTER:</label>
                
                                        <br>
                
                                        <input type="text" id="semester"  name="semester"  >

                                        <br>
                                        <br>

                                        <input value="ADD" name="add" id="add" type="submit">
                
                                    </form>

                                    


                                </div>


                            </div>

                        </div>
                    </div>
            </div>

                        <div class="profile-form-container">

                            <div class="profile-form">

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock main %}

