{% extends "layout.html" %}

{% block title %}
    Institution
{% endblock title %}


{% block main %}

{% if messages %}
	<div class="messages_d">
		{% for message in messages %}
			<p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>
		{% endfor %}
	</div>
{% endif %}


<div class="dashboard_spacing">    
    <div class="dashboard-wrapper">

        <p>INSTITUTION DASHBOARD</p>

        <div class="dashboard">

            <div class="dashboard-head">
                <div class="dashboard-head-top">
                </div>
                <div class="dashboard-head-bottom">
                </div>
            </div>

            <div class="profile-pic">
                <img src="/media/{{ pp }}">
            </div>

            <div class="dashboard-nav">

                <p class="dashboard-name">{{name}}</p>
                <p class="dashboard-id">CURRENT NO OF STUDENTS: {{student_count}}</p>

                <div class="dashboard-link">
                    <ul>
                        <li><a href="/dashboard/institution">Profile</a></li>
                        <li><a href="#">Create Student</a></li>
                        <li><a href="/dashboard/institution/search">Search Student</a></li>
                        <li><a href="/dashboard/institution/edit">Edit Student</a></li>
                        <li><a href="/dashboard/institution/enroll">Enroll Student</a></li>
                        <li><a href="/dashboard/institution/remove">Remove Student</a></li>
                        <li><a href="/dashboard/institution/addcourse">Add Course</a></li>
                        <li><a href="/dashboard/institution/docreq">Document Requests</a></li>
                        <li><a class="logout" href="/signout">Logout</a></li>
                    </ul>
                </div>

            </div>

            <div class="dashboard-body" id="dashboard-body">

                <div class="create-profile" id="create-profile">

                    <h1>ENROLL STUDENT TO INSTITUTION</h1>

                    <div style="padding-left: 0px;">
                        <button onMouseOver="this.style.color='#000000'" onMouseOut="this.style.color='#565a61'"style="cursor:pointer; padding: 8px; border-radius: 10px; border:none; font-size: 1.1rem; background-color: #ffdd00; color: #565a61;"> <a href="/dashboard/institution/enroll/bulk" style="text-decoration: None; color:#565a61;"> UPLOAD IN BULK</a></button>     
                    </div>

                        <div class="profile-form-container">

                            <div class="profile-form">
                                <form action="/dashboard/institution/enroll" method="post">
                                        
                                    {% csrf_token %}
                                    <label for="add-student">STUDENT ID:</label>
            
                                    <br>
            
                                    <input type="text" id="student-id"  name="student-id" required >
            
                                    <br>
                                    <br>
            
                                    <label for="degree-name">DEGREE NAME:</label>
            
                                    <br>
            
                                    <input type="text" id="degree-name"  name="degree-name" required >
            
                                    <br>
                                    <br>

                                    <label for="discipline">DISCIPLINE:</label>

                                    <br>

                                    <select name="discipline" id="discipline" required >
                                        <option value="ENGINEERING">ENGINEERING</option>
                                        <option value="MEDICAL">MEDICAL</option>
                                        <option value="LAW">LAW</option>
                                        <option value="SCIENCE">SCIENCE</option>
                                        <option value="ARTS">ARTS</option>
                                        <option value="DIPLOMA">DIPLOMA</option>
                                        <option value="HSE">HSE</option>
                                        <option value="SSLC">SSLC</option>
                                      </select>

                                    <br>
                                    <br>

                                    <label for="joining-year">JOINING YEAR:</label>
            
                                    <br>
            
                                    <input type="text" id="joining-year"  name="joining-year" style="font-size: 1.2rem; width: 80%; padding: 5px; border-radius: 10px; border: solid 1px #565a61 ;" required >
            
                                    <br>
                                    <br>


                                    <input value="ADD" type="submit">
            
                                </form>


                            </div>

                        </div>
                    </div>
            </div>

                        <div class="profile-form-container">

                            <div class="profile-form">

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock main %}

