{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock title %}


{% block main %}

<div class="about_us">
	<h1 id="Top">About Us</h1>
	<p id="Top-para">
	We have created a platform where each student will receive a special Digital ID, which will enable 
	us to track their academic progress and allow any registered independent organisation 
	to quickly and easily confirm the student's status. Instead of sending each document
	for manual verification, the students will be able to receive all of their academic information, 
	including their grades, degrees earned, and more, in a single PDF file with a digital signature. 
	Using the digital signature that is already embedded in the document or by using the document ID via an API, 
	the organisation can quickly validate the document. This solution will expedite all processes and assist shorten the
	time typically required for manually validating documents.
	</p>

	<h2 id="sub-1">Our Vision</h2>
	<p id="p1">
	To reduce the time taken and physical labour needed for verifying
	documents.
	</p>

	<h2 id="sub-2"> Our Mission </h2>
	<p id="p2">
	To create a special digital ID for each student that will be crucial in helping the Indian government and professional organisations quickly validate any student's academic information.
	</p>

	<h2 id="sub-3"> Our Objectives </h2>
	<p id="p3">
		To provide:<br>
		•	Easy verification of a document's authenticity.<br>
		•	Using digital signature as a seal of genuineness.<br>
		•	Effortless access to original documents.<br>
		•	Helps to Fastrack scholarships and disburse Student-Government schemes.<br>
	</p>
</div>

{% endblock main %}
