{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}


{% block main %}
<div class="about_us">
	<h1 id="Top">About Us</h1>
	<p id="Top-para">
	We have designed a platform where each student will be assigned a
	unique Digital ID , using which we will be<br />
	able to track the student's academic performance and every registered
	independent organization will be able to<br />
	verify the student's status by simply using our application. The
	students will also be able to download their entire<br />
	academic details including their marks, degrees completed, etc in a
	single PDF file with a digital signature, instead<br />
	of submitting every document for manual verification . The
	organization can easily verify the document using the digital<br />
	signature present in the document or can verify using the document Id
	through an Application Programming Interface.<br />
	This system will help reduce the time usually taken for verifying
	documents manually and will fast-track all<br />
	scholarships and disbursement of student - government schemes.
	</p>

	<h2 id="sub-1">Our Vision</h2>
	<p id="p1">
	To reduce the time taken and physical labour needed for verifying
	documents.
	</p>

	<h2 id="sub-2"> Our Mission </h2>
	<p id="p2">
	To develop a unique digital ID for the students, which will play an
	instrumental role in aiding the government of India<br> and professional
	institutions to verify any student's academic details with minimal
	effort.
	</p>

	<h2 id="sub-3"> Our Objectives </h2>
	<p id="p3">
		To provide:<br>
		•	Easy verification of a document's authenticity.<br>
		•	Using digital signature as a seal of genuineness.<br>
		•	Effortless access to original documents.<br>
		•	Helps to Fastrack scholarships and disburse Student-Government schemes.<br>
	</p>
</div>

{% endblock %}