{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock title %}


{% block main %}
            <div class="form-container">

				<div class="form">

					<p>CONTACT</p>

					<br>

					<form action="" method="post">
						<label for="name">Name:</label>

						<br>

						<input type="text" id="name" name="name" required>

						<br>
						<br>

						<label for="email">Email:</label>

						<br>

						<input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"required>

						<br>
						<br>

						<label for="comment">Message:</label>

						<br>

						<textarea id="comment" name="comment" required></textarea>

						<br>
						<br>

						<input type="submit" value="SUBMIT">

					</form>

				</div>

			</div>

{% endblock main %}

