{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}


{% block main %}
    
        <div class="login-wrapper">

            <div class="login-items">
                <a href="login/Student">
                    <div class="login-item">
                        <img src="/static/img/login-student.png">
                    </div>
                    <br>
                    <p>Student Corner</p>
                </a>
            </div>

            <div class="login-items">
                <a href="#">
                    <div class="login-item">
                        <img src="/static/img/login-institution.png">
                    </div>
                    <br>
                    <p>Institution Corner</p>
                </a>
            </div>

            <div class="login-items">
                <a href="#">
                <div class="login-item">
                <img src="/static/img/login-admin.png">
            </div>

            <br>
            
            <p>Admin Corner</p>
            </a>

        </div>
    </div>
    
    <p>
    
    
    </p>

{% endblock main%}
