{% extends "layout.html" %}

{% block title %}
    Admin Login
{% endblock title %}


{% block main %}

            <div class="form-container">
				

				<div class="form">
					{% if messages %}
						<div class="messages">
							{% for message in messages %}
								<li {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</li>
							{% endfor %}
						</div>
					{% endif %}


					<p>ADMIN LOGIN</p>

					<br>

					<form action="/login/admin" method="post">
						{% csrf_token %}
						<label for="name">Admin ID:</label>

						<br>

						<input type="text" id="username" name="username" required>

						<br>
						<br>

						<label for="password">Password:</label>

						<br>

						<input id="password" name="password" type="password" required>

						<br>
						<br>

                        <p style="font-size: 1rem; padding-bottom:40px;">Forgot password? <a href="/login/passwordresetotp">Reset Password</a></p>

						<input type="submit" value="SUBMIT">

					</form>

				</div>

			</div>


{%endblock main%}