{% extends "layout.html" %}

{% block title %}
    Student Login
{% endblock title %}


{% block main %}

			<div class="form-container">

				<div class="form">

					<p>STUDENT LOGIN</p>

					<br>

					<form action="/login/student" method="post">
						{% csrf_token %}
						<label for="name">Student ID:</label>

						<br>

						<input type="text" id="name" name="name" required>

						<br>
						<br>

						<label for="password">Password:</label>

						<br>

						<input type="password" required>

						<br>
						<br>

                        <p style="font-size: 1rem; padding-bottom:40px;">Forgot password? <a href="/login/passwordresetotp">Reset Password</a></p>

						<input type="submit" value="SUBMIT">

					</form>

				</div>

			</div>

{%endblock main%}