{% extends "layout.html" %}

{% block title %}
    Institution Login
{% endblock title %}


{% block main %}
{% if messages %}
	<div class="messages">
		{% for message in messages %}
			<p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>
		{% endfor %}
	</div>
{% endif %}
            <div class="form-container">

				<div class="form">

					<p>INSTITUTION LOGIN</p>

					<br>

					<form action="/login/institution" method="post">
						{% csrf_token %}
						<label for="name">Institution ID:</label>

						<br>

						<input type="text" name="name" required>

						<br>
						<br>

						<label for="password">Password:</label>

						<br>

						<input type="password" name="password" required>

						<br>
						<br>

                        <p style="font-size: 1rem; padding-bottom:40px;">Forgot password? <a href="/login/passwordresetotp">Reset Password</a></p>

						<input type="submit" value="SUBMIT">

					</form>

				</div>

			</div>

{%endblock main%}