{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}


{% block main %}

            <div class="form-container">

				<div class="form">


					<form action="passwordresetotp" method="POST">
						{% csrf_token %}

						<label for="name">ID:</label>

						<br>

						<input type="text" value="{{id}}" id="id" name="id" required>

						<br>
						<br>

						<input type="submit" name="sendotp" value="SEND OTP">

						<br>
						<br>

						<label for="name">Enter OTP:</label>

						<br>

						<input type="text" id="u_otp" name="u_otp">

						<br>
						<br>

                        <p style="font-size: 1rem; padding-bottom:40px;">Didn't receive OTP? <a href="#">Resend OTP</a></p>

						<input type="submit" name="submit" value="SUBMIT">

					</form>

				</div>

			</div>
{%endblock main%}