{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}


{% block main %}

            <div class="form-container">

				<div class="form">


					<form action="" method="post">

						<label for="name">EMAIL:</label>

						<br>

						<input type="text" id="name" name="name" required>

						<br>
						<br>

						<input type="submit" value="SEND OTP">

						<br>
						<br>

						<label for="name">Enter OTP:</label>

						<br>

						<input type="text" id="name" name="name">

						<br>
						<br>

                        <p style="font-size: 1rem; padding-bottom:40px;">Didn't receive OTP? <a href="#">Resend OTP</a></p>

						<input type="submit" value="SUBMIT">

					</form>

				</div>

			</div>
{%endblock main%}