{% extends "layout.html" %}

{% block title %}
    Privacy Policy
{% endblock title %}


{% block main %}
<div class="about_us">
	<h1 id="pp">Privacy Policy</h1>

        <h2 id="sub-1">Site Visit Data</h2>

        <p id="para1">
          The SIP Website does not automatically collect any specific personal data about you (such as your name, phone number, or email address)
	that would enable us to recognise you as an individual.
        </p>

        <p id="para2">
          For statistical purposes, this website keeps track of your visit and logs the following information: Internet protocol (IP) addresses,
	domain names, server addresses, names of the top-level domains from which you access the Internet (such as.gov,.com,.in, etc.),
	browser and operating system details, the date and time of your visit, the pages you accessed, the files you downloaded, and the previous
	Internet address from which you came. Unless a deliberate attempt to harm the site has been made, we do not attempt to connect these addresses
	to the identities of those who visit it. Except where a law enforcement agency may utilise a warrant to inspect the service provider's records,
	we will not identify users or their surfing habits.
        </p>

        <p id="para3">
         If the SIP Website asks you to submit personal information, you will be made aware of the specific reasons why the information
	is needed and appropriate security precautions will be taken to safeguard your privacy. Any personally identifiable information
	provided voluntarily on the SIP Website is not sold or otherwise shared with any third party (public or private).
	Any information you give will be safeguarded against loss, abuse, unauthorised access or disclosure, modification, or destruction.
        </p>

        <h2 id="sub-2">Cookies</h2>

        <p id="para4">
          When you access information on an Internet website, that website transmits a bit of software code called a cookie to your browser.
	Cookies are not used on this website. the gathering of personal data You will be made aware of how any additional
	Personal Information will be used if you choose to provide it if it is requested of you. Please contact the Web Information
	Manager by sending an email to webadmin(email id to be filled here) if you ever feel that the principles mentioned to in this
	privacy statement have not been followed, or if you have any other comments on these principles.
        </p>

        <h2 id="sub-3">Reasonable Security Practices</h2>

        <p id="para5">
        To protect the security of any gathered personal information, reasonable security measures have been put in place, 
	including administrative, technological, operational, and physical controls.
        </p>
	<br>
</div>

{% endblock main %}
