{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock title %}


{% block main %}

            <div class="form-container">

				<div class="form">

					<p>RESET PASSWORD</p>

					<br>

					<form action="" method="post">
						<label for="new-password">New Password:</label>

						<br>

						<input type="password" id="new-password" name="password" required>

						<br>
						<br>

						<label for="confirm-password">Confirm Password:</label>

						<br>

						<input type="password" name="confirm-password" required>

						<br>
						<br>

						<input type="submit" value="SUBMIT">

					</form>

				</div>

			</div>

{%endblock main%}