{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock title %}


{% block main %}

{% if messages %}
	<div class="messages">
		{% for message in messages %}
			<p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>
		{% endfor %}
	</div>
{% endif %}

            <div class="form-container">

				<div class="form">

					<p>RESET PASSWORD</p>

					<br>

					<form action="/login/resetpassword" method="POST">
						{% csrf_token %}
						<label for="new-password">New Password:</label>

						<br>

						<input type="password" id="new-password" name="password" required>

						<br>
						<br>

						<label for="confirm-password">Confirm Password:</label>

						<br>

						<input type="password" name="confirm-password" required>

						<br>
						<br>

						<input type="submit" value="SUBMIT">

					</form>

				</div>

			</div>

{%endblock main%}