{% extends "layout.html" %}

{% block title %}
    Terms and Conditions
{% endblock title %}


{% block main %}

<div class="about_us">

	<h1 id="tc">Terms & Conditions</h1>

		<p id="tc_para">
          This website is designed, developed, maintained and its content
          provided by Student Identification Portal (SIP).Though all
          efforts have been made to ensure the accuracy and concurrency of the
          content on this website,
          the same should not be construed as a statement of law or used for any
          legal purposes. In case of any ambiguity
          or doubts, users are advised to verify/check with the concerned
          departments given in the Contact section of this
          website to obtain appropriate professional advice.
		<p id="tc_space">
        
        <p id="tc_para">
          Under no circumstances will this Department be liable for any
          expense, loss or damage including, without limitation,indirect or
          consequential loss or damage,or any expense,
          loss or damage whatsoever arising from use or loss of use of data,
          arising out of or in connection with the use of the,
          contents of this website.
        </p>
</div>

{% endblock main %}