{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock title %}


{% block main %}

{% if messages %}
	<div class="messages_d">
		{% for message in messages %}
			<p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>
		{% endfor %}
	</div>
{% endif %}


<div class="dashboard_spacing">    
    <div class="dashboard-wrapper">

        <p>ADMIN DASHBOARD</p>

        <div class="dashboard">

            <div class="dashboard-head">

                <div class="dashboard-head-top">
                    


                </div>

                <div class="dashboard-head-bottom">

                    

                </div>

            </div>

            <div class="profile-pic">

                <img src="">

            </div>

            <div class="dashboard-nav">

                <p class="dashboard-name">{{name}}</p>
                <p class="dashboard-name">ID: {{username}}</p>

                <div class="dashboard-link">
                    <ul>
                        <li><a href="/dashboard/admin">Profile</a></li>
                        <li><a href="#">Create Profile</a></li>
                        <li><a href="/dashboard/admin/search">Search profile</a></li>
                        <li><a href="/dashboard/admin/edit">Edit profile</a></li>
                                               
                        <li><a href="/dashboard/admin/createapi">Create API Key</a></li>
                        <li><a href="/dashboard/admin/revokapi">Revoke API Key</a></li>
                        <li><a class="logout" href="/signout">Logout</a></li>
                    </ul>
                </div>

            </div>

                    <div class="dashboard-body" id="dashboard-body">

                            <h1>GENERATE API KEY</h1>

                                <div class="profile-form-container">

                                    <div class="profile-form">

                                        <form action="/dashboard/institution/createapi" method="post">
                                            {% csrf_token %}
                                            
                                            <label for="ins-name">ORGANIZATION NAME:</label>
                    
                                            <br>
                    
                                            <input type="text" id="organization-name" name="organization-name" required>
                                            <br>
                                            <br>
                                            <label for="ins-mail">ORGANIZATION Email:</label>
                    
                                            <br>
                    
                                            <input type="email" id="organization-email" name="organization-email" required>
                    
                                            <br>
                                            <br>

                                        <label>PERMISSIONS:</label>

                                        <br>

                                        <select name="type" id="type" required>
                                            <option value="options">SELECT OPTION</option>
                                            <option value="status">Student Status</option>
                                            <option value="institution">Student Current Institution</option>
                                            <option value="details">Student Details</option>
                                          </select>

                                        <br>
                                        <br>

                                            <input type="submit" value="GENERATE">

                                        </form>

                                    </div>

                                </div>


                            </div>
                        </div>


                    </div>

                </div>
            </div>
    </div>

                <div class="profile-form-container">

                    <div class="profile-form">

        </div>
    </div>
</div>
</div>
</div>

{% endblock main %}