<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #f6f9fc;
      }

      table {
        border-spacing: 0;
      }

      td {
        padding: 0;
      }

      img {
        border: 0;
      }

      .wrapper {
        width: 100%;
        padding-bottom: 40px;
        background-color: #f6f9fc;
        table-layout: fixed;
      }

      .Email {
        max-width: 600px;
        background-color: #ffffff;
        border-radius: 8px;
        margin-top: 30px;
      }

      .outer {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: sans-serif;
        color: #4a4a4a;
      }

      @media screen and (max-width: 600px) {
      }

      @media screen and (max-width: 400px) {
      }
    </style>
  </head>
  <body>
    <center class="wrapper">
      <div class="Email">
        <table class="outer" align="center">
          <tr>
            <td>
              <table width="100%" style="padding-bottom: 4px">
                <tr>
                  <td
                    style="
                      background-image: linear-gradient(
                        to bottom right,
                        #0fbed8,
                        #2af598
                      );
                      padding: 10px;
                      text-align: center;
                      border-top-left-radius: 8px;
                      border-top-right-radius: 10px;
                    "
                  >
                    <h1 style="color: rgb(63, 62, 62)">
                      STUDENT IDENTIFICATION PORTAL
                    </h1>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <img
                src="https://i.ibb.co/tmdLTvd/jpeg1.jpg"
                alt="Banner"
                width="600px"
                style="
                  border-bottom-left-radius: 10px;
                  border-bottom-right-radius: 10px;
                "
              />
            </td>
          </tr>

          <tr>
            <td>
              <table width="100%">
                <tr>
                  <td
                    style="
                      background-image: linear-gradient(
                        to bottom right,
                        #0fbed8,
                        #2af598
                      );
                      padding: 10px;
                      text-align: center;
                      border-top-left-radius: 10px;
                      border-top-right-radius: 10px;
                    "
                  >
                    <h1 style="color: rgb(63, 62, 62); font-family: roboto">
                      Three cheers for joining with us in making India the best
                      place for higher education
                    </h1>

                    <p
                      style="
                        color: white;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                      "
                    >
                      Verification of your institution/college/management is
                      successful.
                    </p>

                    <p
                      style="
                        color: white;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        text-align: left;
                        padding-left: 12px;
                      "
                    >
                      • The documents submitted from the
                      institution/college/management has been verified
                      succesfully with the related officials and Boards.
                    </p>

                    <p
                      style="
                        color: black;
                        text-align: left;
                        border-left: 16px solid transparent;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                      "
                    >
                      USERNAME: {{uname}} <br />PASSWORD: {{psw}}
                    </p>

                    <p
                      style="
                        color: white;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                      "
                    >
                      ~use the above login & password to personalize your
                      password.If password forget or lost cannot be reset
                      without regional admin consultations. for queries contact
                      regional admin.
                    </p>

                    <p
                      style="
                        color: white;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        text-align: left;
                        padding-left: 12px;
                      "
                    >
                      • If you forget or lose your password, we regret to inform
                      you that it cannot be reset without us first consulting
                      with the regional administrator
                    </p>

                    <p
                      style="
                        color: white;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        padding-top: 15px;
                        padding-bottom: 20px;
                        font-size: large;
                      "
                    >
                      Congratulation! kudos for educating people through us,you
                      made us proud. thank you.
                    </p>

                    <p
                      style="
                        color: rgb(63, 62, 62);
                        font-family: roboto;
                        font-weight: bold;
                        text-align: right;
                        border-right: 16px solid transparent;
                        margin-bottom: 60px;
                        font-size: 22px;
                      "
                    >
                      TEAM-SIP,
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </center>
  </body>
</html>
