<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style=" margin: 0 auto;  width: 900px; height: 1054px;  padding: 0; background-color: rgb(217, 217, 217); z-index:2;">
    
    <div class="container" style=" padding: 20px; background-color:#ffffff; scale: 0.9; margin: 0 auto; width: 870px; height: 1210px;   font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;">

        <div style="border: solid 1px #000000; height:1200px; ">


        <header style="display:block;  padding: 30px;">

            <div style="display:inline-block; text-align: center;"><img src="https://i.ibb.co/q1nrwKn/logo.png" width="90px" height="60px"><h1 style="position:relative; top: 0; left: 0; font-size: 35px; width: 800px; float: right; text-align: center;"><u>STUDENT IDENTIFICATION PORTAL</u></h1></div>

            <br>
            <br>
            <br>

            <h1 style="position:relative; top: 0; left: 0; font-size: 30px; width: 800px; float: right; text-align: center;">{{college_name}}<br></h1>
       
        </header>

        <main style="padding: 30px;">

            <div>  </div>

            <br>
            <br>
            <br>


            <div class="heading" style="font-size: 1.3rem;  padding-top: 30px;  text-align:center; width: 800px; font-weight: bold;"><u>BONAFIDE CERTIFICATE</u></div>

             <br>
             <br>


            <div class="content" style="display: flex; justify-content: space-between; width: 800px; flex-direction: row;">

            <div>

                <p style="font-size: 1.5rem;">This is to certify that {{student_name}}, S/O or D/O Of Mr./Ms. {{parent_name}}is a pursuing {{degree_name}} for the academic year 2022-2023. He/She is a bonafide student of {{college_name}}.</p>
                
            </div>

            </div>

        

        <img src="https://i.ibb.co/q1nrwKn/logo.png" style="width: 400px; height: 350px; position: fixed; top: 400px; right: 260px; opacity: 30%; z-index: 0;">

        </main>

        <div style="width: 300px; height:200px; border: solid 1px black; background-color:rgb(202, 202, 202); position: fixed; bottom:50px; right: 50px; ">
            <h3 style="position:relative; top:0; left:0;">Signature Valid</h3>
            <img src="https://i.ibb.co/j39ZrNy/tick.png" style=" position: fixed; bottom: 90px;  padding-left: 90px; width: 90px; opacity: 50%;">
            <p >Digitally signed by {{college_name}}</p>
            <br>
            <p>Date: 25|08|2022</p>
            <p>Place: India</p>


        </div>

        </div>

    </div>

</body>
</html>